{% extends "base.html.twig" %} 

{% block body %}
    <h1>Bienvenue dans ce blog</h1>

    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid esse nobis
    quidem! Dicta ea perspiciatis, inventore eaque numquam quidem deserunt ab
    ullam at, nulla, quasi ipsa quis fuga nihil debitis vero ad totam? Tempore
    repellendus dolorum, beatae quisquam aperiam iste.
    </p>
    <p>
    Soluta consequatur dolorum quibusdam voluptatum, ea ipsam repudiandae sequi
    perferendis ut natus nobis quae. Dolores deserunt, distinctio cupiditate vero
    nam atque laborum doloremque suscipit voluptas autem sit neque impedit ex modi
    cum nobis eos quaerat illo eum a quas labore.
    </p>
{% endblock %}
